# Build-Output
bin/
obj/

# Rider/JetBrains-spezifisch
.idea/
*.sln.iml

# User-spezifische Einstellungen
*.user
*.suo
*.userosscache
*.sln.docstates

# Paketverwaltung
packages/
*.nupkg
project.lock.json
project.fragment.lock.json

# Logdateien
*.log

# Umgebungsvariablen/Secrets
.env

*.DotSettings.user
/.vs/ProjectEvaluation
/.vs/StalkerDiscordBot/DesignTimeBuild
/.vs/StalkerDiscordBot/FileContentIndex
/.vs/StalkerDiscordBot/v18
/.vs/UtilityDiscordBot.slnx/FileContentIndex
/.vs
